<p>
  <strong><%= @user.first_name %></strong>
</p>

<p>
  <strong><%= @user.second_name %></strong>
</p>

<p>
  <%= @user.email %>
</p>

<p>
  <%= @user.role %>
</p>

<p>
  <%= @user.gender %>
</p>

<p>
  <%= @user.tel_number %>
</p>

<%= link_to 'Back', users_path %>
