<h1>Existing Users</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Surname</th>
      <th>Role</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= image_tag user.profile_image.url %></td>
        <td><%= user.first_name %></td>
        <td><%= user.second_name %></td>
        <td><%= user.role %></td>
        <td><button><%= link_to 'Details', user %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

